:root {
  --dark-color: #1f2937;
  --primary-color: #f9faf8;
  --secondary-color: rgb(200, 200, 200);
  --color-blue: #3882f6;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 15%;
}

.links {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.header-logo,
h1 {
  color: var(--primary-color);
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
}

.hero-section {
  display: flex;
  padding: 100px 15%;
  gap: 36px;
}

h1,
.subtext {
  margin-bottom: 8px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

.subtext {
  color: var(--secondary-color);
}

header,
.hero-section,
footer {
  background-color: var(--dark-color);
}

.hero-section img {
  width: 550px;
  height: auto;
}

.sign-up-button {
  padding: 5px 30px;
  background-color: var(--color-blue);
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
}

.random-info-section {
  padding: 50px 20% 100px 20%;
  text-align: center;
}

.info,
.random-info-section img {
  width: 150px;
}

.random-info-section img {
  height: auto;
  border-radius: 10px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.random-info-title {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 800;
  color: var(--dark-color);
}

.info-text {
  color: gray;
}

.inspiring-quote-section {
  background-color: #e5e7eb;
  padding: 100px 25%;
}

.quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: var(--dark-color);
}

.author {
  font-weight: 700;
  font-size: 25px;
  text-align: end;
}

.call-to-action-section {
  padding: 100px 15%;
}

.call-to-action-section .container {
  background-color: var(--color-blue);
  border-radius: 10px;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
}

.call-to-action-section .title {
  font-size: 25px;
  font-weight: 600;
  color: var(--primary-color);
}

.call-to-action-section .text {
  color: var(--secondary-color);
}

.call-to-action-section .sign-up-button {
  border: 3px solid var(--primary-color);
}

footer {
  text-align: center;
  color: var(--secondary-color);
  padding: 30px;
}
